<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Home</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-gray-200 relative">
  <%- include('../partials/header.ejs') %>
  <main class="flex row-start-2 px-10">
    <%- include('../partials/aside') %>
    <div class=" bg-gray-100 w-full h-[99%] p-6 rounded-lg flex flex-col items-center" >
      <% if (locals.home) { %>  
        <p class="text-2xl">Welcome to your file's home, <%= user %></p>
        <div class="flex flex-col mt-10 gap-4 w-full">
          <% if (locals.folders) { %>
            <p class="text-lg">Folders</p>
           <%- include('../partials/folders') %>
          <% } %>
      <% } else if (locals.foldersOnly) {%>
        <div class="flex flex-col gap-4 w-full">
          <% if (locals.folders) { %>
            <p>Folders</p>
            <div class="flex gap-4 whitespace-nowrap flex-wrap">
             <%- include('../partials/folders') %>
          <% } %>
        </div>
      <% } %>
    </div>
  </main>

  <%# File upload form dialog %>
  <%- include('fileUpload') %>
  <%- include('folderUpload') %>
  <script>
    const fileUploadBtn = document.querySelector("#fileUploadBtn");
    const fileDialog = document.querySelector("#fileUpload")
    fileUploadBtn.addEventListener("click", () => {
      fileDialog.showModal();
    })

    const folderCreateBtn = document.querySelector("#folderCreateBtn");
    const folderDialog = document.querySelector("#folderCreate")
    folderCreateBtn.addEventListener("click", () => {
      folderDialog.showModal();
    })

    const openFolderForm = "<%= locals.openFolderForm %>"
    if (openFolderForm) {
      folderDialog.showModal();
    }
  </script>
</body>
</html>