<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Home</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-gray-200 relative">
  <%- include('../partials/header.ejs') %>
  <main class="flex row-start-2 px-10">
    <%- include('../partials/aside') %>
    <div class=" bg-gray-100 w-full h-[99%] p-6 rounded-lg flex flex-col items-center overflow-auto" >
      <% if (locals.home) { %>  
        <p class="text-2xl">Welcome to your file's home, <%= user %></p>
        <div class="flex flex-col mt-10 gap-4 w-full">
          <% if (locals.folders) { %>
          <p class="text-lg">Folders</p>
          <%- include('../partials/folders') %>
          <% } %>
           <% if (locals.files) { %>
            <p>Files</p>
            <div class="flex flex-row flex-wrap gap-4">
              <% files.forEach(file => { %>
              <a href="/home/files/<%= file.id %>" class="overflow-hidden">
                <div class="inline-flex flex-col items-start rounded-lg w-[250px] bg-gray-300 p-2">
                  <div class="flex justify-between w-full">
                    <div class="flex gap-4 items-center">
                      <% if (file.mimeType === "application/pdf" || file.mimeType === "application/msword" || file.mimeType === "application/vnd.openxmlformats-officedocument.wordprocessingml.document" || file.mimeType === "application/vnd.oasis.opendocument.text" || file.mimeType === "text/plain") { %>
                        <img src="/svg/file.svg" alt="File icon" class="w-[24px]">
                      <% } else { %>
                        <img src="/svg/image.svg" alt="Image icon" class="w-[24px]">
                      <% } %>
                      <p class="my-1 text-neutral-800 text-nowrap overflow-hidden"><%= file.fileName %></p>
                    </div>
                  </div>
                  <div class="w-full h-[200px] flex justify-center items-center bg-gray-100 rounded-lg">
                    <% if (file.mimeType === "application/pdf" || file.mimeType === "application/msword" || file.mimeType === "application/vnd.openxmlformats-officedocument.wordprocessingml.document" || file.mimeType === "application/vnd.oasis.opendocument.text" || file.mimeType === "text/plain") { %>
                      <img src="/svg/file.svg" alt="File icon" class="w-[50px]">
                    <% } else { %>
                      <img src="/svg/image.svg" alt="Image icon" class="w-[50px]">
                    <% } %>
                  </div>
                </div>
               </a>
               <% }) %>
            </div>
        <% } %>
      <% } else if (locals.foldersOnly) {%>
        <div class="flex flex-col gap-4 w-full">
          <p>All folders</p>
          <% if (locals.folders) { %>
            <div class="flex gap-4 whitespace-nowrap flex-wrap">
             <%- include('../partials/folders') %>
          <% } %>
        </div>
      <% } %>
    </div>
  </main>

  <%# File upload form dialog %>
  <%- include('fileUpload') %>
  <%- include('folderUpload') %>
  <script>
    const fileUploadBtn = document.querySelector("#fileUploadBtn");
    const fileDialog = document.querySelector("#fileUpload")
    fileUploadBtn.addEventListener("click", () => {
      fileDialog.showModal();
    })

    const folderCreateBtn = document.querySelector("#folderCreateBtn");
    const folderDialog = document.querySelector("#folderCreate")
    folderCreateBtn.addEventListener("click", () => {
      folderDialog.showModal();
    })

    const openFolderForm = "<%= locals.openFolderForm %>"
    if (openFolderForm) {
      folderDialog.showModal();
    }

    const closeFileForm = document.querySelector("#closeFileForm");
    closeFileForm.addEventListener("click", () => {
      fileDialog.close()
    })

    const closeFolderForm = document.querySelector("#closeFolderForm");
    closeFolderForm.addEventListener("click", () => {
      folderDialog.close();
    })
  </script>
</body>
</html>