<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Home</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-gray-200 relative">
  <%- include('../partials/header.ejs') %>
  <main class="flex row-start-2 px-10">
    <%- include('../partials/aside') %>
    <div class=" bg-gray-100 w-full h-[99%] p-6 rounded-lg flex flex-col items-center" >
      <% if (locals.home) { %>  
        <p class="text-2xl">Welcome to your file's home, <%= user %></p>
        <div class="flex flex-col mt-10 gap-4 w-full">
          <% if (locals.folders) { %>
            <p class="text-lg">Folders</p>
           <%- include('../partials/folders') %>
          <% } %>
      <% } else if (locals.foldersOnly) {%>
        <p class="text-2xl">All your folders in one place.</p>
        <div class="flex flex-col mt-10 gap-4 w-full">
          <% if (locals.folders) { %>
            <p class="text-lg">Folders</p>
            <div class="flex gap-4 whitespace-nowrap flex-wrap">
             <%- include('../partials/folders') %>
          <% } %>
        </div>
      <% } %>
    </div>
  </main>

  <%# File upload form dialog %>
  <dialog id="fileUpload" class="m-auto rounded-lg">
    <a id="cancelUpload"></a>
    <form action="/home/file/upload" method="post" enctype="multipart/form-data" class="flex flex-col gap-4 p-4">
      <div class="flex flex-col">
        <label for="fileName">File name</label>
        <input type="text" name="fileName" id="fileName" class="border p-1 rounded-lg">
      </div>
      <div class="flex flex-col">
        <label for="folder">Folder</label> 
        <select name="folder" id="folder" class="border p-1.5 rounded-lg">
          <option value="none">None</option>
          <% folders.forEach(folder => { %>
            <option value="<%= folder.id %>"><%= folder.folderName %></option>
          <% }) %>
        </select>
      </div>

      <input type="file" name="file" class="w-full border rounded-lg" placeholder="No file chosen" />
      <button class="border rounded-lg p-1" type="submit">Upload</button>
    </form>   
  </dialog>

  <%# Folder create form dialog %>
  <dialog id="folderCreate" class="m-auto rounded-lg">
    <a id="cancelUpload"/>
    <form action="/home/folder/upload" method="post" class="flex flex-col gap-4 p-4">
      <label for="folderName">
        <input type="text" name="folderName" id="folderName" placeholder="Folder name..." class="border p-1 rounded-lg" required>
      </label>
      <button class="border rounded-lg p-1" type="submit">Create</button>
      <div class="flex justify-center">
        <%- include('../errors/error') %>
      </div>
    </form>   
  </dialog>


  <script>
    const fileUploadBtn = document.querySelector("#fileUploadBtn");
    const fileDialog = document.querySelector("#fileUpload")
    fileUploadBtn.addEventListener("click", () => {
      fileDialog.showModal();
    })

    const folderCreateBtn = document.querySelector("#folderCreateBtn");
    const folderDialog = document.querySelector("#folderCreate")
    folderCreateBtn.addEventListener("click", () => {
      folderDialog.showModal();
    })

    const openFolderForm = "<%= locals.openFolderForm %>"
    if (openFolderForm) {
      folderDialog.showModal();
    }
  </script>
</body>
</html>