<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Home</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-gray-200 relative">
  <%- include('../partials/header.ejs') %>
  <main class="flex row-start-2 px-10">
    <aside class="h-full w-[200px] flex flex-col gap-6">
      <ul class="flex flex-col gap-1 translate-y-4">
        <li><a id="fileUploadBtn" class="cursor-pointer">File Upload</a></li>
        <li><a id="folderCreateBtn" class="cursor-pointer">New Folder</a></li>
      </ul>
      <ul class="flex flex-col gap-1 translate-y-4">
        <li><a href="/home">Home</a></li>
        <li><a href="/home/folders">Folders</a></li>
        <li><a href="/home/files">Files</a></li>
      </ul>
    </aside>
    <div class=" bg-gray-100 w-full h-[99%] p-6 rounded-lg flex flex-col items-center" >
      <p class="text-2xl">Welcome to your file's home, <%= user %></p>
      <div class="flex flex-col mt-10 gap-4 w-full">
        <% if (locals.folders) { %>
          <p class="text-2xl">Folders</p>
          <div class="flex gap-4 whitespace-nowrap flex-wrap">
            <% folders.forEach(folder => { %>
              <div class="border rounded-lg p-2 w-[200px] flex justify-between hover:bg-gray-200">
                <p>
                  <%= folder.folderName %>
                </p>
                <a href="/home/folder/<%= folder.id %>" class="cursor-pointer" title="Folder information and actions">
                  <img src="/svg/actions.svg" alt="Folder options" class="w-[24px] hover:bg-neutral-100 rounded-full">
                </a>
              </div>
            <% }) %>
        <% } %>
      </div>
    </div>
  </main>

  <%# File upload form dialog %>
  <dialog id="fileUpload" class="m-auto rounded-lg">
    <a id="cancelUpload"></a>
    <form action="/home/file/upload" method="post" enctype="multipart/form-data" class="flex flex-col gap-4 p-4">
      <label for="fileName">
        <input type="text" name="fileName" id="fileName" placeholder="Save file as..." class="border p-1 rounded-lg">
      </label>
      <input type="file" name="file" class="w-full border rounded-lg" placeholder="No file chosen" />
      <button class="border rounded-lg p-1" type="submit">Upload</button>
    </form>   
  </dialog>

  <%# Folder create form dialog %>
  <dialog id="folderCreate" class="m-auto rounded-lg">
    <a id="cancelUpload"/>
    <form action="/home/folder/upload" method="post" class="flex flex-col gap-4 p-4">
      <label for="folderName">
        <input type="text" name="folderName" id="folderName" placeholder="Folder name..." class="border p-1 rounded-lg" required>
      </label>
      <button class="border rounded-lg p-1" type="submit">Create</button>
      <div class="flex justify-center">
        <%- include('../errors/error') %>
      </div>
    </form>   
  </dialog>


  <script>
    const fileUploadBtn = document.querySelector("#fileUploadBtn");
    const fileDialog = document.querySelector("#fileUpload")
    fileUploadBtn.addEventListener("click", () => {
      fileDialog.showModal();
    })

    const folderCreateBtn = document.querySelector("#folderCreateBtn");
    const folderDialog = document.querySelector("#folderCreate")
    folderCreateBtn.addEventListener("click", () => {
      folderDialog.showModal();
    })

    const openFolderForm = "<%= locals.openFolderForm %>"
    if (openFolderForm) {
      folderDialog.showModal();
    }
  </script>
  </script>
</body>
</html>